[MESSAGES CONTROL]
disable = import-error,R0917

[DESIGN]
max-args = 7
max-locals = 50
max-statements = 80
max-branches = 15
max-nested-blocks = 6

[BASIC]
good-names = i,j,k,ex,Run,_,x,y,nl_names_idx,e